<div class="jumbotron">
     <!-- flash 提示訊息 -->
     <div class="customed-flash" >
       <%= render "common/flashes" %>
     </div>
     <h1 class="title">无忧工作网</h1>
     <p class="slogan">

     </p>
     <p class="lead"><a class="btn btn-lg btn-info" href="/jobs">现在加入</a></p>
   </div>


   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">よろしくお願いします</h2>
           <p class="lead"></p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>
