<div class="jumbotron">
     <!-- flash 提示訊息 -->
     <div class="customed-flash" >
       <%= render "common/flashes" %>
     </div>
     <h1 class="title">Play hard</h1>
     <p class="slogan">Play hard and get
     <br>
     Ghost in you shell
     <br>
      Tring is the first step towards failure.
     </p>
     <p class="lead"><a class="btn btn-lg btn-info" href="/jobs">现在加入战斗</a></p>
   </div>
